name: "Weekly Tags_version Vhecks"
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  updateTags:
    runs-on: ubuntu-latest
    outputs:
      isUpdated: $${{ steps.update_common_functions.outputs.is_updated }}
    steps:
      - uses: actions/checkout@v2
      - name: Update/Check Latest Releases' tags in common_functions.sh
        id: update_common_functions
        working-directory: ./
        run: |
          echo "::set-output name=is_updated::true"
          python3 ./.github/workflows/updatetags.py ./common_functions.sh
        
          
  CreatePullRequest:
    runs-on: ubuntu-latest
    needs: updateTags
    if: ${{ needs.updateTags.outputs.isUpdated }}
    steps:
      - uses: actions/checkout@v2
      - name: Create Pull Request When common_functions.sh Changes
        uses: peter-evans/create-pull-request@v3
        with:
          title: Update common_functions.sh
          body: |
            - Updated with *today's* date
            - Auto-generated by [schedule][0 0 * * 0]
          commit-message: Update common_functions.sh with latest tags
          base: main
          branch: commontag
          branch-suffix: 'random'


          
